<!DOCTYPE html>
<html ng-app="tic-tac-toe">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <title>Document</title>
</head>
<body ng-controller="gameController">
        <div ng-hide="tabela" class="box-gamer">
        <label>Jogador 1: </label>
        <input type="text" ng-model="jogador1" placeholder="Digite seu nome">

        <label>Jogador 2: </label>
        <input type="text" ng-model="jogador2" placeholder="Digite seu nome">
        <button type="button" ng-click="tabela = !tabela">Start!</button>
        </div>

        <div ng-hide="!tabela">
            <div>
                <h1>Jogador 1: {{ jogador1 | uppercase }}</h1>
                <h1>Jogador 2: {{ jogador2 | uppercase }}</h1>
            </div>

          <div>
              <table class="tabela">
                  <tr>
                    <td class="linha" ng-click="verifica(0, 0)">{{matriz[0][0]}}</td>
                    <td class="linha" ng-click="verifica(0, 1)">{{matriz[0][1]}}</td>
                    <td class="linha" ng-click="verifica(0, 2)">{{matriz[0][2]}}</td>
                  </tr>
                  <tr>
                    <td class="linha" ng-click="verifica(1, 0)">{{matriz[1][0]}}</td>
                    <td class="linha" ng-click="verifica(1, 1)">{{matriz[1][1]}}</td>
                    <td class="linha" ng-click="verifica(1, 2)">{{matriz[1][2]}}</td>
                  </tr>
                  <tr>
                    <td class="linha" ng-click="verifica(2, 0)">{{matriz[2][0]}}</td>
                    <td class="linha" ng-click="verifica(2, 1)">{{matriz[2][1]}}</td>
                    <td class="linha" ng-click="verifica(2, 2)">{{matriz[2][2]}}</td>
                  </tr>
              </table>
                    <p class="invalido">{{ msg }}</p>
                    <p>{{ ganhador }}</p>
                    <button type="button" ng-click="reset()">Reset</button>
          </div>
        </div>
        
        
</body>
</html>
